{% extends "layout/full_width.html.twig" %}

{% block content %}   
    <div class="row">
        {% for annonce in annonces %}
            <div class="card col">
                <div class="card-body">
                    <h5 class="card-title">{{ annonce.title }}</h5>
                    <p class="card-text">{{ annonce.description }}</p>
                    <a href="{{ path('app_annonce_annoncebyslug', {slug: annonce.slug}) }}" class="btn btn-primary">Détail</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="map" style="height:500px"></div>
    <div>
        <button id="geoValue" type="button">Votre position</button>
        <input type="text" id="localizeByAddress">
        <ul id="localizeByAddressResult"></ul>

    </div>
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mapAnnonce') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mapAnnonce') }}
{% endblock %}
