{% extends 'layout/full_width.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Created At</th>
            <th>Price</th>
            <th>Available ?</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.createdAt|date('d/m/Y') }}</td>
                <td>{{ annonce.price }}</td>
                <td>
                    {{ annonce.isSold ? 'message.not_available'|trans({}, 'annonce') : 'message.available'|trans({}, 'annonce') }}
                </td>
                <td>
                    {{ ('status.' ~ annonce.status)|trans({}, 'annonce') }}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_annonce_annoncebyslug', {'slug': annonce.slug}) }}">{{ 'action.show'|trans }}</a>
                    <a class="btn btn-secondary" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">{{ 'action.edit'|trans }}</a>
                    {{ include('annonce/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
