{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Title</th>
            <th>Created At</th>
            <th>Price</th>
            <th>Available ?</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.createdAt|date('d/m/Y') }}</td>
                <td>{{ annonce.price }}</td>
                <td>
                    {{ annonce.isSold ? 'Not available' : 'Available' }}
                </td>
                <td>
                    {{ ('annonce.status_' ~ annonce.status)|trans({}, 'annonce') }}
                </td>
                <td>{{ 'action.read_more'|trans }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
